TARGET_USER={{ target_user }}
NOAA_HOME={{ noaa_home }}
DB_FILE={{ db_file }}
WEB_HOME={{ web_home }}
IMAGE_OUTPUT={{ images_output }}
NOAA_AUDIO_OUTPUT={{ audio_output }}/noaa
METEOR_AUDIO_OUTPUT={{ audio_output }}/meteor
NOAA_ANIMATION_OUTPUT={{ noaa_animation_output }}
RAMFS_AUDIO={{ ramfs_path }}
NOAA_LOG={{ log_file }}
DAYS_TO_SCHEDULE_PASSES={{ days_to_schedule_passes }}
LAT={{ latitude }}
LON={{ longitude }}
ALT={{ altitude }}
TEST_GAIN={{ test_gain }}
TEST_SDR_DEVICE_ID={{ test_sdr_device_id }}
TEST_ENABLE_BIAS_TEE="{% if test_enable_bias_tee|lower == 'true' %}-T{% endif %}"
TEST_FREQ_OFFSET={{ test_freq_offset }}
SELECT_BEST_OVERLAPPING_PASSES={{ select_best_overlapping_passes|lower }}
SELECT_METEOR_PASS_OVER_NOAA={{ select_meteor_pass_over_noaa|lower }}
NOAA_15_SCHEDULE={{ noaa_15_schedule|lower }}
NOAA_15_SDR_DEVICE_ID={{ noaa_15_sdr_device_id }}
NOAA_15_FREQ_OFFSET={{ noaa_15_freq_offset }}
NOAA_15_ENABLE_BIAS_TEE="{% if noaa_15_enable_bias_tee|lower == 'true' %}-T{% endif %}"
NOAA_15_GAIN={{ noaa_15_gain }}
NOAA_15_SUN_MIN_ELEV={{ noaa_15_sun_min_elevation }}
NOAA_15_SAT_MIN_ELEV={{ noaa_15_sat_min_elevation }}
NOAA_18_SCHEDULE={{ noaa_18_schedule|lower }}
NOAA_18_SDR_DEVICE_ID={{ noaa_18_sdr_device_id }}
NOAA_18_FREQ_OFFSET={{ noaa_18_freq_offset }}
NOAA_18_ENABLE_BIAS_TEE="{% if noaa_18_enable_bias_tee|lower == 'true' %}-T{% endif %}"
NOAA_18_GAIN={{ noaa_18_gain }}
NOAA_18_SUN_MIN_ELEV={{ noaa_18_sun_min_elevation }}
NOAA_18_SAT_MIN_ELEV={{ noaa_18_sat_min_elevation }}
NOAA_19_SCHEDULE={{ noaa_19_schedule|lower }}
NOAA_19_SDR_DEVICE_ID={{ noaa_19_sdr_device_id }}
NOAA_19_FREQ_OFFSET={{ noaa_19_freq_offset }}
NOAA_19_ENABLE_BIAS_TEE="{% if noaa_19_enable_bias_tee|lower == 'true' %}-T{% endif %}"
NOAA_19_GAIN={{ noaa_19_gain }}
NOAA_19_SUN_MIN_ELEV={{ noaa_19_sun_min_elevation }}
NOAA_19_SAT_MIN_ELEV={{ noaa_19_sat_min_elevation }}
METEOR_M2_3_SCHEDULE={{ meteor_m2_3_schedule|lower }}
METEOR_M2_3_SDR_DEVICE_ID={{ meteor_m2_3_sdr_device_id }}
METEOR_M2_3_FREQ_OFFSET={{ meteor_m2_3_freq_offset }}
METEOR_M2_3_ENABLE_BIAS_TEE="{% if meteor_m2_3_enable_bias_tee|lower == 'true' %}-T{% endif %}"
METEOR_M2_3_GAIN={{ meteor_m2_3_gain }}
METEOR_M2_3_SUN_MIN_ELEV={{ meteor_m2_3_sun_min_elevation }}
METEOR_M2_3_SCHEDULE_SUN_MIN_ELEV={{ meteor_m2_3_schedule_sun_min_elevation }}
METEOR_M2_3_SAT_MIN_ELEV={{ meteor_m2_3_sat_min_elevation }}
METEOR_M2_3_80K_INTERLEAVING={{ meteor_m2_3_80k_interleaving|lower }}
NOAA_MEMORY_THRESHOLD={{ noaa_memory_threshold }}
METEOR_M2_MEMORY_THRESHOLD={{ meteor_m2_memory_threshold }}
DELETE_NOAA_AUDIO={{ delete_noaa_audio|lower }}
DELETE_METEOR_AUDIO={{ delete_meteor_audio|lower }}
DELETE_FILES_OLDER_THAN_DAYS={{ delete_files_older_than_days }}
FLIP_METEOR_IMG={{ flip_meteor_image|lower }}
LOG_LEVEL={{ log_level }}
DISABLE_AT_MAIL={{ disable_at_mail|lower }}
NOAA_CROP_TOPTOBOTTOM={{ noaa_crop_toptobottom|lower }}
NOAA_INTERPOLATE={{ noaa_interpolate|lower }}
NOAA_MAP_CROSSHAIR_ENABLE={{ noaa_map_crosshair_enable|lower }}
NOAA_MAP_CROSSHAIR_COLOR={{ noaa_map_crosshair_color }}
NOAA_MAP_GRID_DEGREES={{ noaa_map_grid_degrees }}
NOAA_MAP_GRID_COLOR={{ noaa_map_grid_color }}
NOAA_MAP_COUNTRY_BORDER_ENABLE={{ noaa_map_country_border_enable|lower }}
NOAA_MAP_COUNTRY_BORDER_COLOR={{ noaa_map_country_border_color }}
NOAA_MAP_STATE_BORDER_ENABLE={{ noaa_map_state_border_enable|lower }}
NOAA_MAP_STATE_BORDER_COLOR={{ noaa_map_state_border_color }}
WXTOIMG_MAP_OFFSET={{ wxtoimg_map_offset }}
NOAA_THERMAL_TEMP_OVERLAY={{ noaa_thermal_temp_overlay|lower }}
NOAA_THERMAL_TEMP_OVERLAY_LOCATION={{ noaa_thermal_temp_overlay_location }}
PRODUCE_SPECTROGRAM={{ produce_spectrogram|lower }}
PRODUCE_NOAA_PRISTINE={{ produce_noaa_pristine_image|lower }}
PRODUCE_NOAA_PRISTINE_HISTOGRAM={{ produce_noaa_pristine_histogram|lower }}
PRODUCE_POLAR_AZ_EL={{ produce_polar_az_el_graph|lower }}
PRODUCE_POLAR_DIRECTION={{ produce_polar_direction_graph|lower }}
NOAA_IMAGE_QUALITY={{ noaa_jpg_image_quality }}
METEOR_IMAGE_QUALITY={{ meteor_jpg_image_quality }}
PRUNE_OLDER_THAN={{ delete_older_than_n }}
PRUNE_OLDEST={{ delete_oldest_n }}
RECEIVER_TYPE={{ receiver_type }}
NOAA_DECODER={{ noaa_decoder }}
METEOR_DECODER={{ meteor_decoder }}
NOAA_CROP_TELEMETRY={{ noaa_crop_telemetry|lower }}
IMAGE_ANNOTATION_LOCATION={{ image_annotation_location }}
EXTEND_FOR_ANNOTATION={{ extend_for_annotation|lower }}
GROUND_STATION_LOCATION='{{ ground_station_location }}'
NOAA_DAY_ENHANCEMENTS='{{ noaa_daytime_enhancements }}'
NOAA_NIGHT_ENHANCEMENTS='{{ noaa_nighttime_enhancements }}'
CONTRIBUTE_TO_COMMUNITY_COMPOSITES={{ contribute_to_community_composites|lower }}
CONTRIBUTE_TO_COMMUNITY_COMPOSITES_URL='{{ contribute_to_community_composites_url }}'
ENABLE_EMAIL_PUSH={{ enable_email_push|lower }}
EMAIL_PUSH_ADDRESS={{ email_push_address }}
ENABLE_EMAIL_SCHEDULE_PUSH={{ enable_email_schedule_push|lower }}
ENABLE_DISCORD_PUSH={{ enable_discord_push|lower }}
DISCORD_NOAA_WEBHOOK='{{ discord_noaa_webhook_url }}'
DISCORD_METEOR_WEBHOOK='{{ discord_meteor_webhook_url }}'
ENABLE_TWITTER_PUSH={{ enable_twitter_push|lower }}
ENABLE_FACEBOOK_PUSH={{ enable_facebook_push|lower }}
ENABLE_INSTAGRAM_PUSH={{ enable_instagram_push|lower }}
ENABLE_SLACK_PUSH={{ enable_slack_push|lower }}
SLACK_PUSH_URL={{ slack_push_url }}
SLACK_PUSH_TO={{ slack_push_to|lower }}
SLACK_LINK={{ slack_link }}
ENABLE_PUSHOVER_PUSH={{ enable_pushover_push|lower }}
PUSHOVER_LINK_URL='{{ pushover_link_url }}'
PUSHOVER_APITOKEN={{ pushover_apitoken }}
PUSHOVER_USER={{ pushover_user }}
PUSHOVER_PRIO={{ pushover_prio }}
ENABLE_MATRIX_PUSH={{ enable_matrix_push|lower }}
NTP_SERVER={{ ntp_server }}
WEB_SERVER_NAME={{ web_server_name }}
WEBPANEL_PORT={{ web_port }}
WEBPANEL_TLS_PORT={{ web_tls_port }}
WEB_SERVER_NAME={{ web_server_name }}
ENABLE_SATVIS={{ enable_satvis|lower }}
ENABLE_TLS={{ enable_tls|lower }}
ENABLE_NON_TLS={{ enable_non_tls|lower }}
